* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.team-section-header h3 {
    font-size: 40px !important;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-body h4 {
    font-weight: 600px !important;
}

.card-img img {
    vertical-align: middle;
}

.card-body p {
    opacity: 0.7;
}

.card-body a {
    text-decoration: none;
}

.card-body i {
    font-size: 25px !important;
    margin: 0 10px 0 10px;
    text-decoration: none;
}

.our-mission h3 {
    font-size: 40px !important;
    margin-top: 50px;
    margin-bottom: 20px;
}

.our-mission h4 {
    font-size: 23px;
    opacity: 0.8;
}

.our-vision h3 {
    font-size: 40px !important;
    margin-top: 50px;
    margin-bottom: 20px;
}

.our-vision h4 {
    font-size: 23px;
    opacity: 0.8;
}

footer {
    margin-top: 80px;
    background-color: #FCA14D !important;
    padding-bottom: 80px;
}

footer p {
    font-size: 20px;
    opacity: 0.8;
}

footer .first-footer-section {
    margin-top: 20px;
}

footer .second-footer-section {
    margin-top: 200px;
}


.input-group-append span {
    background-color: #2F80ED !important;
}

.connect-with-us a {
    font-size: 32px;
    margin: 0 20px 0 20px;
    color: black;
}