 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: 'Rubik', sans-serif;
 }

 .left {
     height: 1080px;
     background: #FCA14D;
     border-radius: 0px;
     border-radius: 0 50px 0 0;
 }

 .left .contact-title {
     font-size: 50px;
     font-weight: bold;
 }

 .left .contact-feedback {
     font-size: 32px;
 }

 .right {
     height: 1080px;
     background: white;
 }

 .form-control {
     border: 3px solid #FCA14D !important;
     border-radius: 8px !important;
     outline: none !important;
 }

 form {
     padding: 20% 0 0 0;
 }

 form label {
     font-size: 20px;
 }

 form input {
     height: 50px !important;
 }

 textarea {
     resize: none !important;
 }

 form input,
 form textarea {
     outline: none !important;
 }

 .alert {
     display: none;
 }

 .send-btn {
     text-align: right;
 }

 .btn {
     width: 20%;
     background-color: #FCA14D !important;
 }

 .btn:hover {
     background-color: #db8e45 !important;
 }



 @media screen and (max-width: 991px) {
     .left {
         height: auto;
     }

     .left .title {
         font-size: 40px
     }

     .left .feedback {
         font-size: 26px;
     }

     form {
         padding: 5% 0 0 0;
     }

     .btn {
         width: 100% !important;
     }
 }