* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.left .home-title {
    font-size: 100px;
}

.left .home-description {
    font-size: 30px;
}

.hero {
    background-color: #FCA14D;
    padding-bottom: 50px;
}

.wave-divider {
    margin: 0 !important;
    padding: 0 !important;
}

.wave {
    position: absolute;
    left: 0;
    bottom: 0;
}

.homepage-img {
    width: 100%;
}

.hero2 {
    text-align: center;
}

footer {
    background-color: #FCA14D !important;
    padding-bottom: 80px;
}

footer p {
    font-size: 20px;
    opacity: 0.8;
}

footer .first-footer-section {
    margin-top: 20px;
}

footer .second-footer-section {
    margin-top: 200px;
}

.connect-with-us a {
    font-size: 32px;
    margin: 0 20px 0 20px;
    color: black;
}

.input-group-append span {
    background-color: #5e6ea3 !important;
}

.registerBtn,
.dashboardbtn,
.logoutbtn {
    background-color: #2F4858 !important;
    border: #2F4858 !important;
}

.registerBtn:hover,
.dashboardbtn:hover,
.logoutbtn:hover {
    background-color: #4a758f !important;
    border: #4a758f !important;
}

@media screen and (max-width: 992px) {
    .left .home-title {
        font-size: 60px;
    }
}

@media screen and (max-width: 768px) {
    .left .home-title {
        font-size: 45px;
    }
}