* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
/* Changes navbar background color */
nav {
    background-color: #FCA14D;
}

/* Changes the font size of the logo */
.brand-logo {
    font-size: 26px;
}

/* Removes the border and the outline of the hamburger menu */
.navbar-toggler {
    border: none !important;
    outline: none !important;
}

/* Changes the color and the size of the hamburger menu */
.navbar .fas {
    color: #000 !important;
    font-size: 26px;
}

/* Aligns the collapse menu text to the center */
.navbar-nav {
    text-align: center;
}

/* Adds padding to navigation links*/
.nav-item {
    padding: 10px;
}

/* Changes the color and the font size of navigation links */
.nav-link {
    color: black !important;
    font-size: 20px; 
}

/* Changes the color of the navigation links while hovering */
.nav-link:hover {
    color: white !important;
    transition: 0.25s ease-in;
}

/* Removes the dropdown menu outline */
.dropdown, .dropdown-toggle, .dropdown-menu {
    outline: none !important;
}

/* Aligns the dropdown items to the center */
.dropdown-menu {
    text-align: center !important;
}
