* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #FCA14D !important;
}



.signin-section span {
    color: #d4753e;
}

.thirdparty-signin {
    display: inline-flex;
}

.thirdparty-signin button {
    margin: 0 0 0 25px;
    font-size: 18px;
    border: solid 1px #d4753e;
    border-radius: 10px;
    outline: none;
}

.register-button button {
    width: 100%;
    height: 50px;
    font-size: 24px;
}

.SIGNIN {
    background-color: white;
    height: 100vh;
    border-radius: 10px 0 0 0;
}

.main-title {
    font-size: 75px;
}

.alreadyauser {
    font-size: 18px;
}

.agreement {
    font-size: 16px;
}

input {
    outline: none !important;
}

.btn-primary {
    background-color: #FCA14D !important;
    border: #FCA14D !important;
}

.btn-primary:hover {
    background-color: #d4753e !important;
    border: #FCA14D !important;
}

.alert {
    display: none;
    font-size: 20px;
}