* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #FCA14D !important;
}

.signin-card {
    background-color: #fdae64dc;
    padding: 25px 50px 25px 50px;
}

.signin-header h1 {
    font-weight: bold;
    font-size: 30px;
}

.signin-header h4 {
    font-weight: 400;
    font-size: 22px;
}

.signin-body label {
    font-size: 24px;
}

form input {
    background-color: #cfcfcf !important;
    color: black !important;
    border: #4E597E !important;
    font-size: 20px !important;
    outline: none !important;
}

form .input-group-text {
    background-color: #2F4858 !important;
    color: white !important;
    border: #4E597E !important;
}

.forgot-password {
    font-size: 18px;
}

.resetpw {
    background-color: none !important;
    color: #4E597E;
    font-weight: bold;
}

.dont-have-an-acc {
    font-size: 18px !important;
}

.register-newacc {
    font-weight: bold;
    color: #dfdfdf;
}

.alert {
    display: none;
    font-size: 20px;
}