* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

header {
    padding-top: 1%;
}

header img {
    width: 132px;
    height: 125px;
    position: relative;
    left: 10%;
}

header nav .languages i { 
    font-size: 18px;
    padding-left: 10px;
}

header nav {
    text-align: right;
    word-spacing: 76px;
}

header nav a {
    position: relative;
    top: -90px;
    right: 13%;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: inline-block;
}

body {
    width: 100%;
}

.container {
    height: 900px;
}

body .container .content {
    position: relative;
    margin-left: 10%;
}

body .container .content h1 {
    font-size: 95px;
}

body .container .content h4 {
    font-size: 48px;
    width: 30%;
    word-wrap: break-word;
}

.buttons {
    position: relative;
    margin-left: 12%;
    margin-top: 7%;
}

button {
    width: 300px;
    height: 120px;
    font-size: 42px;
    padding: 15px;
    border-radius: 35px 35px 35px 35px;
    margin: 10px;
    outline: none;
}

button i {
    padding-left: 10px;
}

#signup {
    background-color: #E1812A;
    border: none;
    color: white;
}

#signin {
    background-color: white;
    border: 4px #E1812A solid; 
    color: black; 
}

.fas .fa-long-arrow-alt-right {
    color: black;
}

button:hover {
    cursor: pointer;
}